
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/gktnkrdg/anatole.git
[submodule "gktnkrdg.github.io"]
	path = gktnkrdg.github.io
	url = https://github.com/gktnkrdg/gktnkrdg.github.io
